*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-VariableFont_wght.ttf");
}
.header {
  background-image: url("../images/Background.png");
  margin: 0 auto;
  background-repeat: no-repeat;
  height: 700px;
  background-position: center;
}
.header-container {
  width: 940px;
  margin: 0 auto;
  height: 700px;
}
.header-logo_mobile {
  display: none;
}
.header-logo {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
  padding-top: 46px;
  display: inline-block;
}
.header-log, .header-inline {
  display: inline-block;
}
.header-log {
  float: right;
  margin-top: 50px;
}
.header-login {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  border: none;
  background: transparent;
  cursor: pointer;
  margin-right: 19px;
  text-decoration: none;
}
.header-sign {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  padding: 10px 18px;
  color: #FFFFFF;
  border: 2px solid #FFFFFF;
  border-radius: 40px;
  background: transparent;
  text-decoration: none;
}
.header-tittle {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 52px;
  line-height: 63px;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  text-indent: 50px;
  padding-top: 153px;
}
.header-info {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 24px;
  color: #F7F3F2;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-top: 29px;
}
.header-find {
  width: 245px;
  height: 40px;
  background: #FF4E50;
  border-radius: 40px;
  text-align: center;
}
.header-find_text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  line-height: 40px;
  text-decoration: none;
  color: #FFFFFF;
}
.header-find_center {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 33px;
}

.main {
  width: 940px;
  margin: 0 auto;
}
.main-step_box {
  display: inline-block;
}
.main-tittle {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 32px;
  text-align: center;
  padding-top: 89px;
  color: #444444;
}
.main-step1, .main-step3, .main-step2 {
  background-image: url("../images/Step 1 image.png");
  width: 300px;
  height: 400px;
  margin-top: 35px;
  position: relative;
  display: inline-block;
}
.main-flex {
  position: absolute;
  bottom: 0;
  height: 400px;
  width: 300px;
}
.main-step, .main-step_2 {
  position: absolute;
  bottom: 164px;
  margin: 15px 25px 0 25px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 20px;
  letter-spacing: 2px;
  width: 70px;
  height: 20px;
  background-color: #FF4E50;
  border-radius: 40px;
  color: #FFFFFF;
  text-align: center;
}
.main-step_tittle {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 26px;
  position: absolute;
  bottom: 88px;
  padding: 15px 25px 0 25px;
  color: #FFFFFF;
}
.main-step_info {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 14px;
  position: absolute;
  bottom: 0;
  padding: 21px 25px;
  text-align: justify;
  color: #E3E3E3;
}
.main-step2 {
  background-image: url("../images/Step 2 image.png");
  margin-left: 16px;
}
.main-step_2 {
  bottom: 133px;
}
.main-step3 {
  background-image: url("../images/Step 3 image.png");
  margin-left: 16px;
}
.main-partner_block {
  margin-top: 35px;
}
.main-partner, .main-partner2 {
  width: 221px;
  height: 205px;
  display: inline-block;
}
.main-partner_img {
  display: flex;
  justify-content: center;
}
.main-partner_name {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  margin-top: 17px;
  color: #444444;
}
.main-partner_info {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  margin-top: 12px;
  color: #666666;
  width: 221px;
  height: 38px;
}
.main-partner2 {
  width: 221px;
  height: 224px;
  margin-left: 14px;
}
.main-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 36px;
}
.main-see {
  width: 180px;
  height: 40px;
  background: #FFFFFF;
  border: 2px solid #FF4E50;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-other {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 17px;
  text-decoration: none;
  color: #FF4E50;
}
.main-photo {
  width: 940px;
  margin: 0 auto;
}
.main-container_center {
  position: relative;
  text-align: center;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #FFFFFF;
}
.main-center {
  position: absolute;
  top: 41%;
  left: 2%;
  right: 6%;
  transform: translate(4%, 0%);
}
.main-item1 {
  display: flex;
  justify-content: space-between;
  margin-top: 35px;
}
.main-item2 {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
.main-search {
  width: 940px;
  margin: 0 auto;
}
.main-subtittle {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 14px;
  text-align: center;
  margin-top: 43px;
  color: #666666;
}
.main-enter {
  width: 299px;
  height: 40px;
  background: #FFFFFF;
  border: 1px solid #D4D4D4;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.073313);
  border-radius: 3px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  color: #999999;
  padding-left: 15px;
  margin-right: 10px;
}
.main-button_search {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  width: 172px;
  height: 40px;
  background-color: #FF4E50;
  border-radius: 40px;
  color: #FFFFFF;
  border: none;
  cursor: pointer;
}

form {
  margin-top: 25px;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
}

.footer {
  height: 224px;
  padding-bottom: 36px;
  margin: 0 auto;
}
.footer-container {
  width: 940px;
  margin: 0 auto;
  margin-top: 38px;
  display: flex;
  justify-content: space-between;
}
.footer-line {
  border: 2px solid #FF4E50;
}
.footer-logo {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #FF4E50;
}
.footer-company {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #444444;
  padding-bottom: 11px;
}
.footer-about {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 26px;
  color: #999999;
}
.footer-creator {
  margin-left: 135px;
}
.footer-designed {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 1px;
  color: #CCCCCC;
  padding-left: 16px;
  padding-bottom: 7px;
}
.footer-img {
  display: block;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .header-container {
    width: 768px;
  }
  .main {
    width: 748px;
  }
  .main-step1, .main-step2, .main-step3 {
    width: 236px;
  }
  .main-flex {
    width: 236px;
  }
  .main-partner_block {
    padding-top: 35px;
    width: 492px;
    margin: 0 auto;
  }
  .main-photo {
    width: 748px;
  }
  .main-container_center {
    margin-right: 20px;
  }
  .main-search {
    width: 748px;
  }
  .footer-container {
    width: 768px;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .header {
    height: 540px;
  }
  .header-container {
    width: 320px;
    height: 540px;
  }
  .header-logo {
    display: none;
  }
  .header-logo_mobile {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    justify-content: center;
    color: #FFFFFF;
    padding-top: 97px;
  }
  .header-log, .header-inline {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header-log {
    float: none;
    padding-top: 50px;
    margin-top: 0;
  }
  .header-tittle {
    text-align: center;
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    text-indent: 0;
    padding-top: 27px;
  }
  .header-info {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 24px;
    color: #F7F3F2;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-top: 9px;
    text-align: center;
  }
  .header-find {
    width: 280px;
  }
  .header-find_center {
    margin-top: 15px;
  }
  br {
    display: none;
  }
  .main {
    width: 300px;
  }
  .main-step1, .main-step2, .main-step3 {
    height: 240px;
    margin-top: 10px;
  }
  .main-flex {
    position: absolute;
    bottom: 0;
    height: 240px;
    width: 300px;
  }
  .main-step2 {
    margin-left: 0;
  }
  .main-step3 {
    margin-left: 0;
  }
  .main-tittle {
    padding-top: 34px;
  }
  .main-partner_block {
    margin-top: 14px;
  }
  .main-partner, .main-partner2 {
    width: 300px;
    height: 205px;
  }
  .main-partner_info {
    width: 236px;
    height: 38px;
    margin-left: 32px;
  }
  .main-partner2 {
    width: 300px;
    height: 205px;
    margin-left: 14px;
  }
  .main-button {
    margin-left: 10px;
  }
  .main-see {
    width: 280px;
  }
  .main-photo {
    width: 300px;
  }
  .main-center {
    top: 30%;
  }
  .main-item1 {
    display: block;
    margin-top: 33px;
  }
  .main-item2 {
    margin-top: 10px;
    display: block;
  }
  .main-img {
    width: 300px;
    height: 120px;
    object-fit: cover;
    margin-bottom: 10px;
  }
  .main-search {
    width: 300px;
    margin: 0 auto;
  }
  .main-subtittle {
    font-size: 16px;
    margin-top: 10px;
  }
  .main-enter {
    width: 280px;
    margin-left: 10px;
  }
  .main-button_search {
    width: 280px;
    margin-left: 10px;
    margin-top: 10px;
  }
  form {
    margin-top: 15px;
    margin-bottom: 40px;
    display: block;
  }
  .footer {
    height: 204px;
    padding-bottom: 0;
    margin: 0 auto;
  }
  .footer-container {
    width: 320px;
    margin: 0 auto;
    margin-top: 19px;
    display: block;
    padding-bottom: 22px;
  }
  .footer-logo {
    text-align: center;
  }
  .footer-company {
    text-align: center;
    margin-top: 13px;
    width: 310px;
  }
  .footer-partner {
    text-align: center;
    margin-bottom: 14px;
    margin-top: 10px;
  }
  .footer-company_block {
    width: 310px;
  }
  .footer-about {
    text-align: center;
    display: inline-block;
  }
  .footer-inline {
    display: inline-block;
    text-align: center;
  }
  .footer-creator {
    text-align: center;
    margin-left: 0;
  }
  .footer-designed {
    padding-left: 0;
    padding-bottom: 7px;
    text-align: center;
  }
  .footer-img {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/*# sourceMappingURL=main.css.map */
