@import "../base/reset";

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-VariableFont_wght.ttf");
}

.header {
  background-image: url("../images/Background.png");
  margin: 0 auto;
  background-repeat: no-repeat;
  height: 700px;
  background-position: center;

  &-container {
    width: 940px;
    margin: 0 auto;
    height: 700px;
  }

  &-logo_mobile {
    display: none;
  }

  &-logo {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    padding-top: 46px;
    display: inline-block;

  }

  &-log, &-inline {
    display: inline-block;

  }

  &-log {
    float: right;
    margin-top: 50px;
  }

  &-login {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    border: none;
    background: transparent;
    cursor: pointer;
    margin-right: 19px;
    text-decoration: none;

  }

  &-sign {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    padding: 10px 18px;
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
    border-radius: 40px;
    background: transparent;
    text-decoration: none;
  }

  &-tittle {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 52px;
    line-height: 63px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    text-indent: 50px;
    padding-top: 153px;
  }

  &-info {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 24px;
    color: #F7F3F2;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-top: 29px;
  }

  &-find {
    width: 245px;
    height: 40px;
    background: #FF4E50;
    border-radius: 40px;
    text-align: center;
  }

  &-find_text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    text-align: center;
    line-height: 40px;
    text-decoration: none;
    color: #FFFFFF;

  }

  &-find_center {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 33px;

  }
}

.main {
  width: 940px;
  margin: 0 auto;

  &-step_box {
    display: inline-block;
  }

  &-tittle {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 32px;
    text-align: center;
    padding-top: 89px;
    color: #444444;
  }

  &-step1 {
    background-image: url("../images/Step 1 image.png");
    width: 300px;
    height: 400px;
    margin-top: 35px;
    position: relative;
    display: inline-block;
  }

  &-flex {
    position: absolute;
    bottom: 0;
    height: 400px;
    width: 300px;
  }

  &-step {
    position: absolute;
    bottom: 164px;
    margin: 15px 25px 0 25px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 20px;
    letter-spacing: 2px;
    width: 70px;
    height: 20px;
    background-color: #FF4E50;
    border-radius: 40px;
    color: #FFFFFF;
    text-align: center;
  }

  &-step_tittle {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 26px;
    position: absolute;
    bottom: 88px;
    padding: 15px 25px 0 25px;


    color: #FFFFFF;
  }

  &-step_info {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 14px;
    position: absolute;
    bottom: 0;
    padding: 21px 25px;
    text-align: justify;
    color: #E3E3E3;
  }

  &-step2 {
    @extend .main-step1;
    background-image: url("../images/Step 2 image.png");
    margin-left: 16px;
  }

  &-step_2 {
    @extend .main-step;
    bottom: 133px;
  }

  &-step3 {
    @extend .main-step1;
    background-image: url("../images/Step 3 image.png");
    margin-left: 16px;
  }

  &-partner_block {
    margin-top: 35px;
  }

  &-partner {
    width: 221px;
    height: 205px;
    display: inline-block;
  }

  &-partner_img {
    display: flex;
    justify-content: center;
  }

  &-partner_name {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    margin-top: 17px;
    color: #444444;

  }

  &-partner_info {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    margin-top: 12px;
    color: #666666;
    width: 221px;
    height: 38px;

  }

  &-partner2 {
    @extend .main-partner;
    width: 221px;
    height: 224px;
    margin-left: 14px;
  }

  &-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 36px;
  }

  &-see {
    width: 180px;
    height: 40px;
    background: #FFFFFF;
    border: 2px solid #FF4E50;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-other {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 17px;
    text-decoration: none;
    color: #FF4E50;

  }

  &-photo {
    width: 940px;
    margin: 0 auto;

  }

  &-container_center {
    position: relative;
    text-align: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #FFFFFF;
  }

  &-center {
    position: absolute;
    top: 41%;
    left: 2%;
    right: 6%;
    transform: translate(4%, 0%);
  }

  &-item1 {
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
  }

  &-item2 {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
  }

  &-search {
    width: 940px;
    margin: 0 auto;
  }

  &-subtittle {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 14px;
    text-align: center;
    margin-top: 43px;
    color: #666666;

  }

  &-enter {
    width: 299px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #D4D4D4;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.073313);
    border-radius: 3px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: #999999;
    padding-left: 15px;
    margin-right: 10px;
  }

  &-button_search {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    width: 172px;
    height: 40px;
    background-color: #FF4E50;
    border-radius: 40px;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
  }

}

form {
  margin-top: 25px;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
}

.footer {

  height: 224px;
  padding-bottom: 36px;
  margin: 0 auto;

  &-container {
    width: 940px;
    margin: 0 auto;
    margin-top: 38px;
    display: flex;
    justify-content: space-between;

  }

  &-line {
    border: 2px solid #FF4E50;
  }

  &-logo {

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #FF4E50;
  }

  &-company {

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #444444;
    padding-bottom: 11px;
  }

  &-about {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 26px;
    color: #999999;
  }

  &-creator {
    margin-left: 135px;
  }

  &-designed {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 1px;
    color: #CCCCCC;
    padding-left: 16px;
    padding-bottom: 7px;
  }

  &-img {
    display: block;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .header-container {
    width: 768px;
  }
  .main {
    width: 748px;

    &-step1 {
      width: 236px;
    }

    &-flex {
      width: 236px;
    }

    &-partner_block {
      padding-top: 35px;
      width: 492px;
      margin: 0 auto;
    }

    &-photo {
      width: 748px;

    }

    &-container_center {
      margin-right: 20px;
    }


    &-search {
      width: 748px;

    }

  }

  .footer-container {
    width: 768px;
  }

}


@media screen and (min-width: 320px) and (max-width: 767px) {
  .header {
    height: 540px;

    &-container {
      width: 320px;
      height: 540px;
    }

    &-logo {
      display: none;
    }

    &-logo_mobile {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 24px;
      display: flex;
      justify-content: center;
      color: #FFFFFF;
      padding-top: 97px;
    }

    &-log, &-inline {
      display: flex;
      justify-content: center;
      align-items: center;

    }

    &-log {
      float: none;
      padding-top: 50px;
      margin-top: 0;
    }

    &-tittle {
      text-align: center;
      font-weight: 700;
      font-size: 30px;
      line-height: 37px;
      color: #FFFFFF;
      display: flex;
      justify-content: center;
      align-items: center;
      text-indent: 0;
      padding-top: 27px;
    }

    &-info {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 300;
      font-size: 18px;
      line-height: 24px;
      color: #F7F3F2;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      padding-top: 9px;
      text-align: center;
    }

    &-find {
      width: 280px;
    }

    &-find_center {
      margin-top: 15px;
    }
  }
  br {
    display: none;
  }
  .main {
    width: 300px;


    &-step1 {

      height: 240px;
      margin-top: 10px;

    }

    &-flex {
      position: absolute;
      bottom: 0;
      height: 240px;
      width: 300px;
    }

    &-step2 {

      margin-left: 0;
    }

    &-step3 {

      margin-left: 0;
    }

    &-tittle {
      padding-top: 34px;
    }

    &-partner_block {
      margin-top: 14px;

    }

    &-partner {
      width: 300px;
      height: 205px;

    }

    &-partner_info {
      width: 236px;
      height: 38px;
      margin-left: 32px;
    }

    &-partner2 {
      @extend .main-partner;
      width: 300px;
      height: 205px;
      margin-left: 14px;
    }

    &-button {
      margin-left: 10px;
    }

    &-see {
      width: 280px;
    }

    &-photo {
      width: 300px;
    }

    &-center {
      top: 30%;

    }

    &-item1 {
      display: block;
      margin-top: 33px;
    }

    &-item2 {
      margin-top: 10px;
      display: block;

    }

    &-img {
      width: 300px;
      height: 120px;
      object-fit: cover;
      margin-bottom: 10px;
    }

    &-search {
      width: 300px;
      margin: 0 auto;
    }

    &-subtittle {
      font-size: 16px;
      margin-top: 10px;
    }

    &-enter {
      width: 280px;
      margin-left: 10px;
    }

    &-button_search {
      width: 280px;
      margin-left: 10px;
      margin-top: 10px;
    }

  }

  form {
    margin-top: 15px;
    margin-bottom: 40px;
    display: block;
  }

  .footer {

    height: 204px;
    padding-bottom: 0;
    margin: 0 auto;

    &-container {
      width: 320px;
      margin: 0 auto;
      margin-top: 19px;
      display: block;
      padding-bottom: 22px;

    }


    &-logo {
      text-align: center;
    }

    &-company {
      text-align: center;
      margin-top: 13px;
      width: 310px;
    }

    &-partner {
      text-align: center;
      margin-bottom: 14px;
      margin-top: 10px;
    }

    &-company_block {
      width: 310px;
    }

    &-about {
      text-align: center;
      display: inline-block;
    }

    &-inline {
      display: inline-block;
      text-align: center;
    }

    &-creator {
      text-align: center;
      margin-left: 0;
    }

    &-designed {
      padding-left: 0;
      padding-bottom: 7px;
      text-align: center;
    }

    &-img {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}